/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5; /* 페이지 배경색 */
    margin: 0;
    padding: 0;
}

/* 페이지 제목 스타일 */
h1 {
    color: #007bff; /* 제목 텍스트 색상 */
    margin: 20px 0;
    font-family: "휴먼모음T";
}

/* 업로드 및 다운로드 폼 스타일 */
form {
    margin-top: 20px;
    background-color: #fff; /* 폼 배경색 */
    padding: 10px;
    border-radius: 10px; /* 폼 테두리 둥글게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */

}

/* 파일 업로드 스타일 */
input[type="file"] {
    display: none;

}

/* 업로드 버튼 스타일 */
button {
    background-color: #007bff;
    margin-top: 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
    font-style: oblique;
    border-radius: 30px;
}

button:hover {
    background-color: #0056b3; /* 마우스 오버 시 배경색 변경 */
}

/* 상태 메시지 스타일 */
#status {
    margin-top: 20px;
    color: #007bff;
    font-weight: bold; /* 굵은 글꼴 */
}
/*다운로드 텍스트*/
#download-form label[type="text"]{
    margin-top: 20px;
}
/*다운로드 버튼 텍스트*/
#download-form input[type = "text"],
#download-form label[type = "filename"]{
    margin-top: 20px;
}
/*제출 버튼*/
#download-form button[type="submit"] {
    margin-top: 20px; /* 버튼을 20px 아래로 이동 */
}

#list-files-button{
    margin-top: -20px;
}